@import '~src/assets/styles/layout/mixin';

.navbar{
  padding: 10px 20%;
  @include ig-fx-layout(row);
  @include ig-fx-layout-alignment(space-between, center);
  margin-bottom: 30px;

  span, mat-icon, button{
    cursor: pointer;
  }

  .actions{
    @include ig-fx-layout(row);
    @include ig-fx-layout-alignment(space-between, center);
    width: 25%;
  }
}
