<mat-card class="post">
  <mat-card-header>
    <img mat-card-avatar
         [src]="post.user.profilePic">
    <mat-card-title>{{post.user.username}}</mat-card-title>
    <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
    <mat-icon>more_horiz</mat-icon>
  </mat-card-header>
  <img mat-card-image [src]="post.image" alt="Couldn't load. Check your connection">
  <mat-card-actions>
    <mat-icon color="warn">favorite</mat-icon>
    <mat-icon>chat_bubble_outline</mat-icon>
    <mat-icon class="save_action">bookmark_border</mat-icon>
  </mat-card-actions>
  <mat-card-content>
    <div *ngIf="post.caption">
      <b>{{post.user.username}}</b>
      <span>
      {{post.caption}}
      </span>
    </div>
  </mat-card-content>
</mat-card>
