.post{
  margin: 20px 25%;
  width: auto;

  mat-card-header{
    mat-icon{
      position: absolute;
      right: 20px;
    }
  }

  mat-card-actions{
    mat-icon{
      padding-left: 10px;
    }
    .save_action{
      position: absolute;
      right: 20px;
    }
  }
}

