.login-form {
  width: 500px;
  border: 1px solid #e6e6e6;
  padding: 50px;

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
    padding-bottom: 30px;
  }
}






