.post-header{
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .user-info{
    display: flex;
    justify-content: space-between;

    img{
      height: 25px;
      border-radius: 50%;
      width: 25px;
      margin-right: 10px;
    }

    span{
      padding-top: 5px;
    }
  }
}

