<div class="form">
  <div class="signup-form">
    <h1 class="mat-title title">Instagram</h1>
    <div class="container">
      <mat-form-field>
        <input matInput type="text"
               [formControl]="controls.email"
               placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text"
               [formControl]="controls.fullName"
               placeholder="Full Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text"
               [formControl]="controls.username"
               placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password"
               [formControl]="controls.password"
               placeholder="Password">
      </mat-form-field>
      <button mat-flat-button color="primary"
              [disabled]="signupFormGroup.touched && !signupFormGroup.valid"
              (click)="signup()">SIGNUP</button>
    </div>
  </div>
  <div class="login-redirect">
    <p>Already a user ? <a routerLink="/login">Log In</a></p>
  </div>
</div>
