.form{
  position: absolute;
  left: 30%;
  top: 20%;

  .login-form {
    width: 500px;
    border: 1px solid #e6e6e6;
    padding: 50px;
    margin-bottom: 30px;

    .container {
      display: flex;
      flex-direction: column;
    }

    .title {
      text-align: center;
      padding-bottom: 30px;
    }
  }

  .signup-redirect{
    width: 500px;
    border: 1px solid #e6e6e6;
    padding: 50px;
    text-align: center;
  }
}







